html {
	background-color: #9AAFC5;
	background-image: url("images/blue-diamond.png");
	background-repeat: repeat-y;
	background-size: 5%;
	font-family: 'Merriweather', serif;
	line-height: 1.5;
	padding-left: 40px;
}

header {
	background-color: #B0BEC5;
	border-bottom: 15px;
	border-bottom-color: #blue;
	color: white;
	left: 0;
	padding: .75rem 1rem;
	position: fixed;
	right: 0;
	top: 0;
}

header div {
	font-weight: bolder;
}

header small {
	color: #044cbf;
	display: block;
	padding-top: 0;
	margin-top: 0;
}

h1 {
	color: #1E88E5;
}

h2{
	color: #EC407A;
}

h3 {
	color: #263238;
}

nav {
	background-color: #CFD8DC;
	display: inline-block;
	margin-top: 10px;
	width: fit-content;
}

nav a {
	color: #1E88E5;
	border-bottom: 1px;
	border-color: #E0E0E0;
	text-decoration-style: double;
	text-underline-offset: 5px;
}

nav a:hover {
	#EC407A
}

body {
	margin-top: 12rem;
}

.site-nav-list {
	padding: 0 5px 0 5px;
	margin-bottom: 7px;
	margin-top: 0;
}

.site-nav-list li {
	display: inline;
}

.button {
	display: inline-block;
    padding: 0.7em 1.2em;
    background-color: #EEEEEE;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.25s ease;
}

.hero {
	background-color: #34608d;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	max-width: 38rem;
	text-align: center;
}

.hero h1 {
	text-shadow: 5px 5px #5C6F7A;
}

.subtitle {
	color: #3d9dff;
	font-size: 1.25rem;
	font-weight: 500;
	text-align: center;
}