html {
	background-color: #9AAFC5;
	background-image: url("images/blue-diamond.png");
	background-repeat: repeat-y;
	background-size: 5%;
	font-family: 'Merriweather', serif;
	line-height: 1.5;
	padding-left: 2.5rem;
}

header {
	background-color: #B0BEC5;
	border-bottom: 0.9375rem;
	border-bottom-color: #blue;
	color: white;
	left: 0;
	padding: .75rem 1rem;
	position: fixed;
	right: 0;
	top: 0;
}

header div {
	font-weight: bolder;
}

header small {
	color: #044cbf;
	display: block;
	padding-top: 0;
	margin-top: 0;
}

h1 {
	color: #1E88E5;
}

h2{
	color: #EC407A;
}

h3 {
	color: #263238;
	font-size: 2.25rem;
	text-decoration: underline;
	text-decoration-style: double;
	text-underline-offset: 0.625rem;
}

h4 {
	color: #223278;
	font-size: 1.5rem;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-underline-offset: 0.375rem;
}

p {
	color: #00356a;
	font-family: "Lucida Console", Georgia, serif;
}

nav {
	background-color: #CFD8DC;
	background-size: contain;
	display: inline-block;
	margin-top: 0.625rem;
	padding: 0;
	width: fit-content;
}

nav ul {
	padding: 0;
}

nav a {
	color: #1E88E5;
	border-bottom: 0.0625rem;
	border-color: #E0E0E0;
	padding: 1.875rem;
	text-decoration: none;
	white-space: nowrap;
}

nav a:hover {
	#EC407A
}

body {
	margin: 12rem auto 0 auto;
	max-width: 45rem;
}

a {
	color: #006EAC;
}

a:visited {
	color: #1d4063;
}

a:hover {
	color: white;
}

a:focus {
	color: white;
}

a:active {
	color: white;
}

article {
	border-left: 0.1875rem dashed #07747a;
	padding-left: 0.9375rem;
}

.contact-form {
	display: block;
	margin-bottom: 0.5rem;
}

.contact-form ul {
	display: block;
	list-style-type: none;
	margin: 0 auto;
	padding-left: 0;
	width: 50%;
}

.contact-form input, textarea {
	margin: 0 auto;
	width: 100%;
}

.site-nav-list {
	padding: 0 0.3125rem 0 0.3125rem;
	margin-bottom: 0;
	margin-top: 0;
}

.site-nav-list li {
	border: 0.0625rem solid #1E88E5;
	display: inline;
}

.hero {
	background-color: #34608d;
	background-size: cover;
	background-position: center;
	outline: 0.3125rem solid #3e5fea;
	margin: 0 auto;
	max-width: 38rem;
	text-align: center;
}

.hero h1 {
	font-size: 3rem;
}

.subtitle {
	color: #00162c;
	font-size: 1.75rem;
	font-weight: bolder;
	text-align: center;
}

.signature {
	align-content: bottom;
	position: absolute;
}

.intro {
	font-size: 1.25rem;
}

.call-to-action a {
	color: #00356a;
}

.call-to-action a:hover, a:focus, a:active{
	color: white;
}

.references {
	border-top: 0.125rem solid black;
}

.references h3 {
	font-size: 1rem;
	text-decoration: underline;
	text-decoration-style: dashed;
	text-underline-offset: 0.125rem;
}

.references ul {
	border-right: 0.1875rem ridge #414864;
	font-size: 0.75rem;
	list-style-type: none;
	padding-left: 0;
	padding-right: 0.1875rem;
	text-align: right;
	width: 40%;
}
.references a {
	color: #00356a;
}

.pic-to-right {
	float: right;
	display: block;
	margin: 0 0 1rem 0;
	max-width: 35%;
}

@media (max-width: 480px) {
    body {
        margin: 10rem 1rem 0 1rem;
        max-width: 100%;
    }
    
    header div {
        font-size: 1rem;
    }
    
    nav {
        text-align: center;
    }
    
    nav a {
        padding: 0.5rem 0.75rem;

    }
    
    .hero {
        max-width: 100%;
        padding: 1rem;
    }
    
    .hero h1 {
        font-size: 2rem;
    }
    
    .subtitle {
        font-size: 1.25rem;
    }
    
    article {
        padding-left: 0.5rem;
    }
    
    form ul {
        width: 90%;
    }
    
    .pic-to-right {
        float: none;
        max-width: 80%;
        margin: 0 auto 1rem auto;
        display: block;
    }
}

@media (max-width: 1024px) {
    body {
        margin: 12rem auto 0 auto;
        max-width: 40rem;
    }
    
    .hero h1 {
        font-size: 2.75rem;
    }
    
    .subtitle {
        font-size: 1.6rem;
    }
    
    nav a {
        padding: 1.25rem;
    }
    
    article {
        padding-left: 0.875rem;
    }
}

